<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/home.css">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">

      <div class="loginContainer">
      <div>
        <div class="login">
          <div class="title2b">Username: </div>
          <form class="login_input" action="/signup" method="post">
            <input class="input2" required type="text" name="username" placeholder="enter username">
        </div>

        <div class="login">
          <div class="title2b">Password: </div>
          <input class="input2" required type="password" name="password" placeholder="enter password">
        </div>
      </div>
      <div>
        <input class="login__submit-button" type="submit">
      </div>
      </form>


    </div>

    <div class="logintext">signup</div>

    <h3>draynori</h3>
    <h1>The JavaScript adventure game</h1>

  </div>
  </body>
</html>
