<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/gold.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">

      <button class="buttonx" onclick="goBack()"><img src="/btn_x.png" />Go Back</button>

        <script>
        function goBack() {
          window.history.back();
        }
        </script>

      <div class="headerDiv">
      <div class="goldTitle">Dakota's Notebook</div>
      <div class="goldTitle2">Map of Kuku-Loui Region</div>
    </div>

      <div class="headerDiv">
      <div class="goldTitle">Dakota's Notebook</div>
      <div class="goldTitle2">Gold Found So Far</div>
    </div>

      <div class="goldContainer">
      {{#gold1}}
      <div class="goldItemContainer">
        <div class="goldlabel">Golden Door</div>
        <div class="goldItem">$ {{gold1}}</div>
      </div>
      {{/gold1}}

      {{#gold19}}
      <div class="goldItemContainer">
        <div class="goldlabel">Gorilla Statue</div>
        <div class="goldItem">$ {{gold19}}</div>
      </div>
      {{/gold19}}

      {{#gold22}}
      <div class="goldItemContainer">
        <div class="goldlabel">Cave of Gold Treasure</div>
        <div class="goldItem">$ {{gold22}}</div>
      </div>
      {{/gold22}}

      {{#gold24}}
      <div class="goldItemContainer">
        <div class="goldlabel">Gold Coin in River</div>
        <div class="goldItem">$ {{gold24}}</div>
      </div>
      {{/gold24}}

      {{#gold102}}
      <div class="goldItemContainer">
        <div class="goldlabel">Gold fleck in the Well</div>
        <div class="goldItem">$ {{gold102}}</div>
      </div>
      {{/gold102}}

      {{#gold156}}
      <div class="goldItemContainer">
        <div class="goldlabel">Gold flakes in Cave Wall</div>
        <div class="goldItem">$ {{gold156}}</div>
      </div>
      {{/gold156}}

      {{#gold167}}
      <div class="goldItemContainer">
        <div class="goldlabel">Gold Flakes on Clothing</div>
        <div class="goldItem">$ {{gold167}}</div>
      </div>
      {{/gold167}}

      {{#gold73}}
      <div class="goldItemContainer">
        <div class="goldlabel">Handful of Sand</div>
        <div class="goldItem">$ {{gold73}}</div>
      </div>
      {{/gold73}}

      {{#gold74}}
      <div class="goldItemContainer">
        <div class="goldlabel">Backpack filled with Gold</div>
        <div class="goldItem">$ {{gold74}}</div>
      </div>
      {{/gold74}}

      {{#gold200}}
      <div class="goldItemContainer">
        <div class="goldlabel">Golden Dinner Plate</div>
        <div class="goldItem">$ {{gold200}}</div>
      </div>
      {{/gold200}}

      {{#gold203}}
      <div class="goldItemContainer">
        <div class="goldlabel">Mythical Coin</div>
        <div class="goldItem">$ {{gold203}}</div>
      </div>
      {{/gold203}}

      </div>

  </div>
  </body>
</html>
