<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/gold.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">

      <div class="goldContainer">
      {{#gold1}}
      <div class="goldItemContainer">
        <div class="goldlabel">Golden Door</div>
        <div class="goldItem">$ {{gold1}}</div>
      </div>
      {{/gold1}}

      {{#gold19}}
      <div class="goldItemContainer">
        <div class="goldlabel">Gorilla Statue</div>
        <div class="goldItem">$ {{gold19}}</div>
      </div>
      {{/gold19}}

      {{#gold22}}
      <div class="goldItemContainer">
        <div class="goldlabel">Cave of Gold Treasure</div>
        <div class="goldItem">$ {{gold22}}</div>
      </div>
      {{/gold22}}

      {{#gold24}}
      <div class="goldItemContainer">
        <div class="goldlabel">Gold Coin in River</div>
        <div class="goldItem">$ {{gold24}}</div>
      </div>
      {{/gold24}}

      {{#gold102}}
      <div class="goldItemContainer">
        <div class="goldlabel">Gold fleck in the Well</div>
        <div class="goldItem">$ {{gold102}}</div>
      </div>
      {{/gold102}}

      {{#gold156}}
      <div class="goldItemContainer">
        <div class="goldlabel">Gold flakes in Cave Wall</div>
        <div class="goldItem">$ {{gold156}}</div>
      </div>
      {{/gold156}}

      {{#gold167}}
      <div class="goldItemContainer">
        <div class="goldlabel">Gold Flakes on Clothing</div>
        <div class="goldItem">$ {{gold167}}</div>
      </div>
      {{/gold167}}

      </div>

  </div>
  </body>
</html>
