<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/home.css">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      <h4>Have a story idea, or feedback? <a href="https://www.linkedin.com/in/ethanjarrell/">let me know</a><h4>
    <h3>draynori</h3>
    <h1>The JavaScript adventure game</h1>
    <h2>Signup or Login to start</h2>
    <div>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
    </div>
  </div>
  </body>
</html>
