<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/map.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">

      <button class="buttonx" onclick="goBack()"><img src="/btn_x.png" />Go Back</button>

        <script>
        function goBack() {
          window.history.back();
        }
        </script>

      <div class="headerDiv">
      <div class="goldTitle">Dakota's Notebook</div>
      <div class="goldTitle2">Map of Kuku-Loui Region</div>
    </div>

      {{#kukus}}
      <div class="kuku"><img src="/jungle.png">{{kuku}}</div>
      {{/kukus}}

      {{#snags}}
      <div class="snag"><img src="/village.png">{{snag}}</div>
      {{/snags}}

      {{#mounts}}
      <div class="mount"><img src="/mount_icon.png">{{mount}}</div>
      {{/mounts}}

      {{#mines}}
      <div class="mine"><img src="/mine_icon.png">{{mine}}</div>
      {{/mines}}

      {{#crocs}}
      <div class="croc"><img src="/croc.png">{{croc}}</div>
      {{/crocs}}

      {{#spiders}}
      <div class="spider"><img src="/spider.png">{{spider}}</div>
      {{/spiders}}

      {{#caves}}
      <div class="cave"><img src="/cave.png">{{cave}}</div>
      {{/caves}}

      {{#bears}}
      <div class="bear"><img src="/bear.png">{{bear}}</div>
      {{/bears}}

      {{#ruins}}
      <div class="ruin"><img src="/ruins.png">{{ruin}}</div>
      {{/ruins}}
  </div>
  </body>
</html>
