<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/map.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">

      {{#kukus}}
      <div class="kuku"><span>X</span>{{kuku}}</div>
      {{/kukus}}

      {{#snags}}
      <div class="snag"><span>X</span>{{snag}}</div>
      {{/snags}}

      {{#mounts}}
      <div class="mount"><span>X</span>{{mount}}</div>
      {{/mounts}}

      {{#mines}}
      <div class="mine"><span>X</span>{{mine}}</div>
      {{/mines}}
  </div>
  </body>
</html>
