<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page22}}
      <h3>page 22</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">

      <form class="plink" action="/ruin" method="post">
        <input class="inputfield" type="text" value="Mythical Ruins" name="ruin" />
        <div class="links"><div class="plink"><p>else if</p> <input class="submitbtn" type="submit"><h6>{{option1}}</h6></div> <h5>{go to page 72}</h5></div>
      </form>

    <form class="plink" action="/gold73" method="post">
      <input class="inputfield" type="text" value="450000000" name="gold73" />
      <a href="/page73"><div class="plink"><p>else if</p> <input class="submitbtn" type="submit"><h6>{{option2}}</h6></div> <h5>{go to page 73}</h5></a>
    </form>

    <form class="plink" action="/gold74" method="post">
      <input class="inputfield" type="text" value="6752000" name="gold74" />
      <a href="/page74"><div class="plink"><p>else if</p> <input class="submitbtn" type="submit"><h6>{{option3}}</h6></div> <h5>{go to page 74}</h5></a>
    </form>

  </div>

    {{/page22}}

    <a class="maps" href="/map">view map</a>

    <a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
