<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/pageTown.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">

      {{#page102}}
      <h3>page 102</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page103">
      <div class="JSONcontainer">
        <div class="top">{{option1}}: {</div>
        <div class="middle">time: 1 hour,</div>
        <div class="middle2">to_page: 103,</div>
        <div class="bottom">},</div>
        <div class="mouseover"><div>{{#jsons}}<div class="iftitle">JSON Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/jsons}}</div></div>
      </div>

    </a>
    <a href="/page104">
      <div class="JSONcontainer">
        <div class="top">{{option2}}: {</div>
        <div class="middle">time: 2 hours,</div>
        <div class="middle2">to_page: 104,</div>
        <div class="bottom">},</div>
        <div class="mouseover2"><div>{{#jsons}}<div class="iftitle">JSON Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/jsons}}</div></div>
      </div>

    </a>
    <a href="/page118">
      <div class="JSONcontainer">
        <div class="top">{{option3}}: {</div>
        <div class="middle">time: 1 hour,</div>
        <div class="middle2">to_page: 118,</div>
        <div class="bottom">},</div>
        <div class="mouseover3"><div>{{#jsons}}<div class="iftitle">JSON Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/jsons}}</div></div>
      </div>

    </a>


  </div>

    {{/page102}}
    <div class="question" href="/page01">
      <img class="question" src="/question.png" />
      <div class="mouseover7">
        <div class="infoContainer">
          <div class="infoHeader2">
            Dakota's Game Info
          </div>
          <div class="infoHeader">
            What do I do?
          </div>
          <div class="infoSubheader">
            Try to help Dakota Jones navigate to the Lost City of Gold.
          </div>
          <div class="infoHeader">
            But how?
          </div>
          <div class="infoSubheader">
            Try to figure out which code example best describes what you want Dakota to do.  Clicking on one of the code examples will take you to a new page, with a new part of the story, and more code examples.
          </div>
          <div class="infoHeader">
            What if I made a mistake?
          </div>
          <div class="infoSubheader">
            There are no right or wrong answers.  Each page teaches you a little bit about a programming concept. You can navigate back to previous answers, if you want to choose a different option.  Or you can go back to the main screen with the link at the bottom of the page.
          </div>
          <div class="infoHeader">
            What if I don't understand the code stuff?
          </div>
          <div class="infoSubheader">
            That's okay!  It can be a little confusing at first!  But this is just to help you see what it looks like so it's not as scary in the future!
          </div>
          <form class="plink" action="/logout" method="post">
            <input class="inputfield" type="text" name="logout" />
            <div class="plink"><input class="submitbtn2" value="Take Me Back Home" type="submit">
          </form>
        </div>
      </div>
      </div>
    </div>
<a class="maps" href="/map">view map</a>

<a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
