<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page20}}
      <h3>page 20</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page66"><div class="plink"><p>if</p> <h6>{{option1}}</h6></div> <h5>{go to page 66}</h5></a>
    <a href="/page67"><div class="plink"><p>else if</p> <h6>{{option2}}</h6></div> <h5>{go to page 67}</h5></a>
    <a href="/page68"><div class="plink"><p>else</p> <h6>{{option3}}</h6></div> <h5>{go to page 68}</h5></a>
  </div>

    {{/page20}}
  </div>
  </body>
</html>
