<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/pageTown.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">

      {{#page116}}
      <h3>page 116</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page114">
      <div class="JSONcontainer">
        <div class="top">{{option1}}: {</div>
        <div class="middle">time: 1 hour,</div>
        <div class="middle2">to_page: 114,</div>
        <div class="bottom">},</div>
      </div>
    </a>
    <a href="/page117">
      <div class="JSONcontainer">
        <div class="top">{{option1}}: {</div>
        <div class="middle">time: 1 hour,</div>
        <div class="middle2">to_page: 117,</div>
        <div class="bottom">},</div>
      </div>
    </a>
    <a href="/page120">
      <div class="JSONcontainer">
        <div class="top">{{option1}}: {</div>
        <div class="middle">time: 1 hour,</div>
        <div class="middle2">to_page: 120,</div>
        <div class="bottom">},</div>
      </div>
    </a>
    <a href="/page119">
      <div class="JSONcontainer">
        <div class="top">{{option1}}: {</div>
        <div class="middle">time: 1 hour,</div>
        <div class="middle2">to_page: 119,</div>
        <div class="bottom">},</div>
      </div>
    </a>
    <a href="/page118">
      <div class="JSONcontainer">
        <div class="top">{{option2}}: {</div>
        <div class="middle">time: 1 hour,</div>
        <div class="middle2">to_page: 118,</div>
        <div class="bottom">},</div>
      </div>
    </a>


  </div>

    {{/page116}}
<a class="maps" href="/map">view map</a>

<a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
