<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/pageMtn.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page163}}
      <h3>page 163</h3>
    <h2>
      {{text}}
    </h2>

    <h2 class="strt">Start a new game?</h2>
    <div class="new"><a href="/page0">Yes</a> <span>No</span></div>

    {{/page163}}
    <a class="maps" href="/map">view map</a>
  </div>
  </body>
</html>
