<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/pageMtn.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page152}}
      <h3>page 152</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
      <a href="/page153">
        <div class="JSONcontainer">
          <div class="top">page153 . {{option1}}</div>
        </div>
      </a>
      <a href="/page172">
        <div class="JSONcontainer">
          <div class="top">page172 . {{option2}}</div>
        </div>
      </a>
      <a href="/page173">
        <div class="JSONcontainer">
          <div class="top">page173 . {{option3}}</div>
        </div>
      </a>
  </div>

    {{/page152}}
    <a class="maps" href="/map">view map</a>
  </div>
  </body>
</html>
