<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      <h2>
          {{#endingtowns}}
            <h2 class="beg">{{beginning}}</h2>
            <h2 class="txt">{{text}}</h2>
            <h2 class="end">{{end}}</h2>
            <h2 class="strt">Start a new game?</h2>
            <div class="new"><a href="/page0">Yes</a> <span>No</span></div>
          {{/endingtowns}}
      </h2>
      <a class="maps" href="/map">view map</a>

      <a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
