<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/pageMtn.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page223}}
      <h3>page 223</h3>
    <h2>
      {{text}}
    </h2>

    <div class="restartContainer">
    <h2 class="strt">Start a new game?</h2>
    <div class="new"><a class="yes" href="/page0">Yes</a>
      <span>

      <form class="plink" action="/logout" method="post">
        <input class="inputfield" type="text" name="logout" />
        <div class="plink"><input class="submitbtn1" value="No" type="submit">
      </form>

    </span></div>
  </div>
  </div>

    {{/page223}}
    <a class="maps" href="/map">view map</a>

    <a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
