<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page18}}
      <h3>page 18</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page60"><div class="plink"><p>if</p> <h6>{{option1}}</h6></div> <h5>{go to page 60}</h5></a>
    <a href="/page61"><div class="plink"><p>else if</p> <h6>{{option2}}</h6></div> <h5>{go to page 61}</h5></a>
    <a href="/page62"><div class="plink"><p>else if</p> <h6>{{option3}}</h6></div> <h5>{go to page 62}</h5></a>
  </div>

    {{/page18}}
  </div>
  </body>
</html>
