<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page74}}
      <h3>page 74</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page204"><div class="plink"><p>if</p> <h6>{{option1}}</h6></div> <h5>{go to page 204}</h5></a>
    <a href="/page207"><div class="plink"><p>else</p> <h6>{{option2}}</h6></div> <h5>{go to page 207}</h5></a>
  </div>

    {{/page74}}

    <a class="maps" href="/map">view map</a>

    <a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
