<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/titlepage1.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      <img src="/kandee.png"></img>
      <h2>
    Congratulations!  Dakota made it up to Kan-Dee Mountain!  The Kan-Dee mountain range extends from just north of the village, all the way up to the Mangrove Swamp.  It’s been rumored that the lost city of gold may have actually been somewhere on this ridge.  But even if that’s true, it will be like finding a needle in a haystack.
<br />
Here’s the other thing.  In the jungle, you control what Dakota does through if/else statements.  But in the mountains, instead, you use dot notation.  Dot notation is a JavaScript way of finding and using data, often associated with “nested” objects.  For example, in your backback that you brought to school, you probably have a lunchbox.  And in the lunchbox, you might have a sandwich.  And in the sandwich, there’s probably some ham and cheese.  In JavaScript, we call that “nesting”.  The ham and cheese is nested in the sandwich, which is nested in your lunchbox, which is nested in your backpack.  If I wanted you to bring me your backpack, you wouldn’t hand me your sandwich.  And if I asked for your sandwich, you wouldn’t hand me your lunchbox, would you?  Of course not!
<br />
JavaScript dot notation allows us to access things that are nested, or hard to reach, like your ham and cheese inside your backpack.  In dot notation that might look like this:
<br />
<span class="bold">backpack . lunchbox . sandwich . ham_and_cheese</span>
<br />
So how is this going to help our friend Dakota?  Well, while you’re in the mountains, you will be given options in the form of dot notation.   For example, you might have the choice between these options:
<br />
<span class="bold">A) go_north .</span>
<br />
or
<br />
<span class="bold">B) go_north . caves . underground_river</span>
<br />
While both will take you north, option B will take you to a more specific location using dot notation.  Good luck!
          </h2>
          <form class="login_input" action="/mount" method="post">

            <input class="inputfield" type="text" value="Kan-Dee Mountain" name="mount" />

            <input class="submitbutton" value="continue" type="submit" />

          </form>
  </div>
  </body>
</html>
