<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/pageTown.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page124}}
      <h3>page 124</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">

      <a href="/page125">
        <div class="JSONcontainer">
          <div class="top">{{option1}}: {</div>
          <div class="middle">time: 1 hour,</div>
          <div class="middle2">to_page: 125,</div>
          <div class="bottom">},</div>
        </div>
      </a>
      <a href="/page126">
        <div class="JSONcontainer">
          <div class="top">{{option1}}: {</div>
          <div class="middle">time: 1 hour,</div>
          <div class="middle2">to_page: 126,</div>
          <div class="bottom">},</div>
        </div>
      </a>
      <a href="/page127">
        <div class="JSONcontainer">
          <div class="top">{{option1}}: {</div>
          <div class="middle">time: 1 hour,</div>
          <div class="middle2">to_page: 127,</div>
          <div class="bottom">},</div>
        </div>
      </a>
      <a href="/page128">
        <div class="JSONcontainer">
          <div class="top">{{option1}}: {</div>
          <div class="middle">time: 1 hour,</div>
          <div class="middle2">to_page: 128,</div>
          <div class="bottom">},</div>
        </div>
      </a>
      <a href="/page118">
        <div class="JSONcontainer">
          <div class="top">{{option1}}: {</div>
          <div class="middle">time: 1 hour,</div>
          <div class="middle2">to_page: 118,</div>
          <div class="bottom">},</div>
        </div>
      </a>
  </div>

    {{/page124}}
  </div>
  </body>
</html>
