<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/titlepage1.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      <img src="/mine.png"></img>
      <h2>
    What a find!  Dakota found an entrance to the Old Prospector’s Mine!  There’s sure to be gold here!  The local story is that the Old Prospector bought these hills, and over the next 30 years, dug massive underground tunnels in search of gold.  He would always come back to Ragged Snag village empty handed.  The locals just thought he was a foolish old prospector.  Then one day, he went up into the hills and never returned.  Everyone thought he had gotten trapped in rock slide, or attacked by bears.  Others say, he found gold, dug out as much as he could, and bought an island off the coast of Spain, where he lives to this day.  Nobody really knows what happened to him.  But one thing is for certain, the Prospector always said he was certain there was gold here.
<br />
Now, one of the things about this part of the story, is that you can only control what Dakota does through something called switch case loops.  Unlike the jungle, which uses else/if loops.  Switch/Case loops have switch or condition followed by several cases.  These cases will output different code, depending on which case is met.  Let’s say for instance the switch is ( Today’s Date) and the cases are:
<span class="bold">Case 1: Monday = “It’s Monday”,</span>
<span class="bold">Case2: Tuesday = “It’s Tuesday”,</span>
<span class="bold">Case3: Wednesday = “It’s Wednesday”.</span>
<br />
If today were Wednesday, then case3 would be met, and the code ouput would be “It’s Wednesday.”  We’ll do something similar to control what Dakota does.  You might see a switch/case that looks like this:
<br />
<span class="bold">(dakota is tired)</span>
<br />
<span class="bold">Case1: Nap,</span>
<br />
<span class="bold">Case2: Keep_Hiking,</span>
<br />
<span class="bold">Case3: Get_Food,</span>
<br />
Hopefully you can use this to help Dakota find some gold.  Good luck!
          </h2>
          <form class="login_input" action="/mine" method="post">

            <input class="inputfield" type="text" value="Old Prospector's Mine" name="mine" />

            <input class="submitbutton" value="continue" type="submit" />

          </form>
          <a class="maps" href="/map">view map</a>
  </div>
  </body>
</html>
