<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page0.css">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
          {{#users}}<h1>Hi {{username}}!</h1>{{/users}}
      <h1>You're about to start a new game.  How do you want to start?</h1>

    <div class="headerLinkContainer1">
      <h4>Pick Your Game Options</h4>

      <form class="new" action="/total_reset" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input class="submitbtn2" value="Reset All Discoveries" type="submit">
      </form>

      <form class="new" action="/gold_reset" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input class="submitbtn2" value="Reset Gold Only" type="submit">
      </form>

      <form class="new" action="/map_reset" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input class="submitbtn2" value="Reset Map Only" type="submit">
      </form>

      <div class="headerLinkContainer4">
        <a href="/gold_reset">New Game, Keep All Discoveries?</a>
      </div>

    </div>

  </div>

  </body>
</html>
