<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page17}}
      <h3>page 17</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page57"><div class="plink"><p>if</p> <h6>{{option1}}</h6></div> <div class="mouseover"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div><h5>{go to page 57}</h5></a>
    <a href="/page58"><div class="plink"><p>else if</p> <h6>{{option2}}</h6></div> <div class="mouseover2"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div><h5>{go to page 58}</h5></a>
    <form class="plink" action="/spider" method="post">
      <input class="inputfield" type="text" value="Man Eating Spider" name="spider" />
      <div class="links"><div class="plink"><p>else if</p> <input class="submitbtn" type="submit"><h6>{{option2}}</h6></div> <div class="mouseover3"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div>
      <div class="iftext">{{text}}</div>{{/ifelses}}</div></div><h5>{go to page 41}</h5></div>
    </form>
  </div>

    {{/page17}}

    <a class="maps" href="/map">view map</a>

    <a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
