<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/pageMtn.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page170}}
      <h3>page 170</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
      <div class="JSONcontainer">
        <div class="top">Switch ( which direction )</div>
      </div>
      <a href="/page176">
        <div class="JSONcontainer">
          <div class="top">Case1 = page176, {{option1}}</div>
        </div>
      </a>
      <a href="/page177">
        <div class="JSONcontainer">
          <div class="top">Case2 = page177,{{option2}}</div>
        </div>
      </a>
      <a href="/page178">
        <div class="JSONcontainer">
          <div class="top">Case3 = page178,{{option3}}</div>
        </div>
      </a>
  </div>

    {{/page170}}
    <a class="maps" href="/map">view map</a>

    <a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
