<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/pageMtn.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page208}}
      <h3>page 208</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
      <a href="/page174">
        <div class="JSONcontainer">
          <div class="top">{{option1}}</div>
          <div class="mouseover"><div>{{#dots}}<div class="iftitle">Dot Notation Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/dots}}</div></div>
        </div>
      </a>
      <a href="/page169">
        <div class="JSONcontainer">
          <div class="top">{{option2}}</div>
          <div class="mouseover2"><div>{{#dots}}<div class="iftitle">Dot Notation Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/dots}}</div></div>
        </div>
      </a>
  </div>

    {{/page208}}
    <div class="question" href="/page01">
      <img class="question" src="/question.png" />
      <div class="mouseover7">
        <div class="infoContainer">
          <div class="infoHeader2">
            Dakota's Game Info
          </div>
          <div class="infoHeader">
            What do I do?
          </div>
          <div class="infoSubheader">
            Try to help Dakota Jones navigate to the Lost City of Gold.
          </div>
          <div class="infoHeader">

          </div>
          <div class="operContainer">
            <div class="oper">
              <div class="operbold">Operator</div>
              <div>==</div>
              <div>===</div>
              <div>!=</div>
              <div>!==</div>
              <div>></div>
              <div><</div>
              <div>>=</div>
              <div><=</div>
            </div>
            <div class="defi">
              <div class="operbold">Description</div>
              <div>equal to</div>
              <div>equal value and equal type</div>
              <div>not equal</div>
              <div>not equal value or not equal type</div>
              <div>greater than</div>
              <div>less than</div>
              <div>greater than or equal to</div>
              <div>less than or equal to</div>
            </div>
            <div class="examp">
              <div class="operbold">example</div>
              <div>x == x, 8 == eight, 4 == 4</div>
              <div>"x" === "x", 5 === 5</div>
              <div>x != 8, 4 != 7</div>
              <div>x !== "5", three !== 1</div>
              <div>2 > 1, 10 > 3</div>
              <div>2 < 4, 5 < 9</div>
              <div>2 >= 2, 4 >= 3</div>
              <div>3 <= 4, 7 <= 7</div>
            </div>
          </div>


          <form class="plink" action="/logout" method="post">
            <input class="inputfield" type="text" name="logout" />
            <div class="plink"><input class="submitbtn2" value="Take Me Back Home" type="submit">
          </form>
        </div>
      </div>
      </div>
    </div>
    <a class="maps" href="/map">view map</a>

    <a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
