<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/pageMtn.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page156}}
      <h3>page 156</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
      <a href="/page175">
        <div class="JSONcontainer">
          <div class="top">page175 . {{option1}}</div>
          <div class="mouseover"><div>{{#dots}}<div class="iftitle">Dot Notation Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/dots}}</div></div>
        </div>
      </a>
      <a href="/page164">
        <div class="JSONcontainer">
          <div class="top">page164 . {{option2}}</div>
          <div class="mouseover2"><div>{{#dots}}<div class="iftitle">Dot Notation Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/dots}}</div></div>
        </div>
      </a>
  </div>

    {{/page156}}
    <a class="question" href="/page151"><img class="question" src="/question.png" /></a>
    <a class="maps" href="/map">view map</a>

    <a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
