<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/pageMtn.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page155}}
      <h3>page 155</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
      <a href="/page156">
        <div class="JSONcontainer">
          <div class="top">page156 . {{option1}}</div>
        </div>
      </a>
      <a href="/page157">
        <div class="JSONcontainer">
          <div class="top">page157 . {{option2}}</div>
        </div>
      </a>
      <a href="/page158">
        <div class="JSONcontainer">
          <div class="top">page158 . {{option3}}</div>
        </div>
      </a>
  </div>

    {{/page155}}
    <a class="maps" href="/map">view map</a>
  </div>
  </body>
</html>
