<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page6}}
      <h3>page 6</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page23"><div class="plink"><p>if</p> <h6>{{option1}}</h6></div> <h5>{go to page 23}</h5></a>
    <a href="/page24"><div class="plink"><p>else if</p> <h6>{{option2}}</h6></div> <h5>{go to page 24}</h5></a>
    <a href="/page25"><div class="plink"><p>else if</p> <h6>{{option3}}</h6></div> <h5>{go to page 25}</h5></a>
    <a href="/page26"><div class="plink"><p>else if</p> <h6>{{option4}}</h6></div> <h5>{go to page 26}</h5></a>
  </div>

    {{/page6}}
  </div>
  </body>
</html>
