<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/titlepage.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      <img src="/ragsnag.png"></img>
      <h2>
      Nice job!  Dakota made it to the Ragged Snag Village.  You're just a few miles from the Jungle.  In town, you can go anywhere you'd like.  Maybe you can ask for directions, or get some needed supplies.  However, there's a catch.  In the jungle, you navigate with if/else statements.  But in town you can only navigate with JSON Objects.  JSON Objects are JavaScript Objects that have key, value pairs.  Take this for example:

        <div>apple {</div>
          <div>color: green,</div>
          <div>taste: sweet,</div>
          <div>texture: crispy,</div>
        <div>}</div>

          In this example, the apple's keys are green, taste & texture.  And it's associated values are green, sweet & crispy.  If we stored several apples as objects in JavaScript, it would be easy to categorize, and find just the ones we wanted.  In town, you can control what Dakota does, by choosing between givin JSON objects. For example, in Ragged Snag, each choice will tell you how long that option will add to your quest, and which page that will lead you to in the story.  It'll probably look something like this:

          <div>The rodeo {</div>
            <div>time: 2 hours,</div>
            <div>to_page: 109,</div>
          <div>}</div>

          Good luck!

          </h2>
          <form class="login_input" action="/snag" method="post">

            <input class="inputfield" type="text" value="Ragged Snag" name="snag" />

            <input class="submitbutton" value="continue" type="submit" />

          </form>

  </div>
  </body>
</html>
