<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page7}}
      <h3>page 7</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page27"><div class="plink"><p>if</p> <h6>{{option1}}</h6></div> <div class="mouseover"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div><h5>{go to page 27}</h5></a>
    <a href="/page28"><div class="plink"><p>else if</p> <h6>{{option2}}</h6></div> <div class="mouseover2"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div><h5>{go to page 28}</h5></a>
    <a href="/page29"><div class="plink"><p>else</p> <h6>{{option3}}</h6></div> <div class="mouseover3"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div><h5>{go to page 29}</h5></a>
  </div>

    {{/page7}}
    <div class="question" href="/page01">
      <img class="question" src="/question.png" />
      <div class="mouseover7">
        <div class="infoContainer">
          <div class="infoHeader2">
            Dakota's Game Info
          </div>
          <div class="infoHeader">
            What do I do?
          </div>
          <div class="infoSubheader">
            Try to help Dakota Jones navigate to the Lost City of Gold.
          </div>
          <div class="infoHeader">
            But how?
          </div>
          <div class="infoSubheader">
            Try to figure out which code example best describes what you want Dakota to do.  Clicking on one of the code examples will take you to a new page, with a new part of the story, and more code examples.
          </div>
          <div class="infoHeader">
            What if I made a mistake?
          </div>
          <div class="infoSubheader">
            There are no right or wrong answers.  Each page teaches you a little bit about a programming concept. You can navigate back to previous answers, if you want to choose a different option.  Or you can go back to the main screen with the link at the bottom of the page.
          </div>
          <div class="infoHeader">
            What if I don't understand the code stuff?
          </div>
          <div class="infoSubheader">
            That's okay!  It can be a little confusing at first!  But this is just to help you see what it looks like so it's not as scary in the future!
          </div>
          <form class="plink" action="/logout" method="post">
            <input class="inputfield" type="text" name="logout" />
            <div class="plink"><input class="submitbtn2" value="Take Me Back Home" type="submit">
          </form>
        </div>
      </div>
      </div>
    </div>

    <a class="maps" href="/map">view map</a>

    <a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
