<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page1.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">

      {{#page1}}
      <h3>page 1</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page2"><div class="plink"><p>if</p> <h6>{{option1}}</h6></div> <div class="mouseover"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div> <h5>{go to page 2}</h5></a>
    <a href="/page3"><div class="plink"><p>else if</p> <h6>{{option2}}</h6></div><div class="mouseover2"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div> <h5>{go to page 3}</h5></a>
    <a href="/page4"><div class="plink"><p>else if</p> <h6>{{option3}}</h6></div><div class="mouseover3"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div> <h5>{go to page 4}</h5></a>

    <form class="plink" action="/gold1" method="post">
      <input class="inputfield" type="text" value="20000" name="gold1" />
      <a href="/page5"><div class="plink"><p>else if</p> <input class="submitbtn" type="submit"><h6>{{option4}}</h6></div><div class="mouseover4"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div> <h5>{go to page 5}</h5></a>
    </form>

    <a href="/page6"><div class="plink"><p>else</p> <h6>{{option5}}</h6></div> <div class="mouseover5"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div><h5>{go to page 6}</h5></a>
  </div>

    {{/page1}}

    <a class="goldfound" href="/gold">view gold</a>

    <a class="maps" href="/map">view map</a>

  </div>
  </body>
</html>
