<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/titlepage.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">

      <button class="buttonx" onclick="goBack()"><img src="/btn_x.png" />Go Back</button>

        <script>
        function goBack() {
          window.history.back();
        }
        </script>

      <img class="piranha" src="/piranha.png"></img>
      <h2>
      {{#page233}}
        {{text}}
      {{/page233}}
          </h2>
          <form class="login_input" action="/piranha" method="post">

            <input class="inputfield" type="text" value="Piranha Run" name="piranha" />

            <input class="submitbutton" value="continue" type="submit" />

          </form>

  </div>
  </body>
</html>
