<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">

      <h3>page 40</h3>
    <h2>
      Oops!  It looks like this part of the story hasn't been finished.  If you'd like, you can write the next part!
    </h2>
    <h4>
      Hit the back button if you can't remember what just happened.  Be creative!
    </h4>
    <div class="linkContainer">

      <form action="/page40" method="post">

        <textarea type="text" name="text"></textarea>
        <input type="submit" />
      </form>

  </div>


  </div>
  </body>
</html>
