<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page201}}
      <h3>page 201</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page202"><div class="plink"><p>if</p> <h6>{{option1}}</h6></div> <div class="mouseover"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div><div class="iftext">{{text}}</div>{{/ifelses}}</div></div><h5>{go to page 202}</h5></a>

    <form class="plink" action="/gold203" method="post">
      <input class="inputfield" type="text" value="350" name="gold203" />
      <a href="/page203"><div class="plink"><p>else</p> <input class="submitbtn" type="submit"><h6>{{option2}}</h6></div> <div class="mouseover2"><div>{{#ifelses}}<div class="iftitle">If/Else Tip #{{number}}:</div>
        <div class="iftext">{{text}}</div>{{/ifelses}}</div></div><h5>{go to page 203}</h5></a>
    </form>
  </div>

    {{/page201}}

    <a class="maps" href="/map">view map</a>

    <a class="goldfound" href="/gold">view gold</a>
  </div>
  </body>
</html>
