<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page22}}
      <h3>page 22</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page72"><div class="plink"><p>if</p> <h6>{{option1}}</h6></div> <h5>{go to page 72}</h5></a>
    <a href="/page73"><div class="plink"><p>else if</p> <h6>{{option2}}</h6></div> <h5>{go to page 73}</h5></a>
    <a href="/page74"><div class="plink"><p>else</p> <h6>{{option3}}</h6></div> <h5>{go to page 74}</h5></a>
  </div>

    {{/page22}}

    <a class="maps" href="/map">view map</a>
  </div>
  </body>
</html>
