<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the else if game</title>
    <link rel="stylesheet" href="/page.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Cream+Soda|Fontdiner+Swanky|Frijole" rel="stylesheet">
  </head>
  <body>
    <div class="bodywrapper">
      {{#page26}}
      <h3>page 26</h3>
    <h2>
      {{text}}
    </h2>
    <div class="linkContainer">
    <a href="/page84"><div class="plink"><p>if</p> <h6>{{option1}}</h6></div> <h5>{go to page 84}</h5></a>
    <form class="plink" action="/spider" method="post">
      <input class="inputfield" type="text" value="Man Eating Spider" name="spider" />
      <div class="links"><div class="plink"><p>else if</p> <input class="submitbtn" type="submit"><h6>{{option2}}</h6></div> <h5>{go to page 41}</h5></div>
    </form>
    <a href="/page86"><div class="plink"><p>else</p> <h6>{{option3}}</h6></div> <h5>{go to page 86}</h5></a>
  </div>

    {{/page26}}

    <a class="maps" href="/map">view map</a>
  </div>
  </body>
</html>
