* {
  font-family: 'Fontdiner Swanky', cursive;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url('/background.png');
  background-size: cover;
}

.bodywrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

h3 {
  font-size: 35px;
  transform: rotate(5deg);
  font-family: 'Fontdiner Swanky', cursive;
}

.loginContainer {
  border: black dashed 2px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
}

input {
  margin-top: 8px;
  margin-bottom: 8px;
  mix-blend-mode: normal;
  height: 35px;
  width: 25vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  font-family: 'Cherry Cream Soda', cursive;
}

.logintext {
  position: absolute;
  z-index: 7;
  margin-top: -12vh;
  margin-left: 25vw;
  font-size: 55px;
  font-family: 'Frijole', cursive;
  transform: rotate(30deg);
}

h1 {
  transform: rotate(-4deg);
  font-size: 55px;
}

h2 {

}

h4 {
  position: fixed;
  top: 25px;
  right: 25px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-left: 2vw;
  margin-right: 2vw;
}

a:hover {
  text-decoration: underline;
  color: white;
  font-size: 30px;
  transform: scale(1.2) rotate(6deg);
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}
