* {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  mix-blend-mode: multiply;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url('/background-1675212_1920.jpg');
  background-size: cover;
}

h3 {
  z-index: 5;
  margin-top: -40vh;
  margin-left: -15vw;
  position: absolute;
  font-size: 38px;
  font-family: 'Frijole', cursive;
  transform: rotate(-4deg);
}

.bodywrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h2 {
  font-family: 'Black Ops One', cursive;
  position: absolute;
  z-index: 4;
  margin-left: -20vw;
  width: 50vw;
  font-size: 30px;
  transform: rotate(3deg);
}

p {
  font-size: 35px;
  transform: rotate(8deg);
  color: #606060;
  font-family: 'Cherry Cream Soda', cursive;
}

h6 {
  margin-top: -30px;
  font-size: 17px;
  transform: rotate(-4deg);
  margin-left: 10px;
  font-family: 'Fontdiner Swanky', cursive;
}

h5 {
  font-size: 20px;
  margin-top: -30px;
  transform: rotate(3deg);
}

.linkContainer {
  z-index: 3;
  position: absolute;
  margin-left: 25vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 700px;
}

a {
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  display: flex;
  flex-basis: 0.5;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 300px;
  padding-left: 8px;
  padding-right: 8px;
  mix-blend-mode: multiply;
}

a:hover {
  text-decoration: underline;
  color: white;
  transform: scale(1.15);
  flex-grow: .5;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  mix-blend-mode: multiply;
}

.plink {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;

}

h4 {
  position: absolute;
  z-index: 3;
  margin-top: 25vh;
}

input {
  font-size: 30px;
  font-weight: bold;
  border: black solid 3px;
  cursor: pointer;
  position: absolute;
  margin-left: 25vw;
  margin-top: 2vh;
}

input:hover {
  transform: scale(1.3);
}

textarea {
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
  width: 35vw;
  height: 45vh;
  border: black dashed 4px;
}
