* {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  font-family: 'Fontdiner Swanky', cursive;
  mix-blend-mode: multiply;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url('/background.png');
  background-size: cover;
}

.question {
  width: 45px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.question:hover {
  bottom: 10px;
  left: 10px;
  transform: scale(1.15);
}

h1 {
  margin-top: 20px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
}

.inputfield {
  outline-color: black;
  outline-style: solid;
  outline-width: medium;
  margin-right: 15px;
}

.bodywrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.headerLinkContainer1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.headerLinkContainer2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.headerLinkContainer3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.headerLinkContainer4 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.headerLinkContainer5 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
  color: white;
  transform: scale(1.15) rotate(6deg);
  flex-grow: .5;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  mix-blend-mode: multiply;
}

.submitbtn2 {
  display: flex;
  align-self: center;
  border: none;
  border: none;
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  mix-blend-mode: multiply;
}

.submitbtn2:hover {
  text-decoration: underline;
  color: white;
  transform: scale(1.15) rotate(6deg);
  flex-grow: .5;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  mix-blend-mode: multiply;
}

.linkContainer6 {
  border: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 50vw;

}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.inputCont {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
}
